@model PizzaBox.Client.Models.OrderViewModel

<form asp-action="post" asp-controller="user" asp-antiforgery="true" method="POST">
  @foreach (var item in Model.StoreItems)
  {
    <input type="radio" asp-for="@Model.Store" value="@item">
    <label for="@item">@item</label>
  }
  <button type="submit">Add to order</button>
</form>
