<div class="text-center">
  <h1 class="display-4">Home Page</h1>
  <ul>
    <li>Select <a asp-controller="Store" asp-action="Client">User Story</a></li>
    <li>Select <a asp-controller="Store" asp-action="Admin">Store Story</a></li>
  </ul>
</div>
