@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Home Page</h1>
  <ul>
    <li>Select <a asp-controller="Store" asp-action="ReadStore">User Story</a></li>
    <li>Select <a href="#">Store Story</a></li>
  </ul>
</div>
