@model PizzaBox.Client.Models.StoreViewModel

<div class="text-center">
  <h1 class="display-4">Order Sale from @Model.StoreName</h1>
  <table class="table">
    <thead>
      <tr>
        <td>Pizza Type</td>
        <td>Revenue by Week</td>
        <td>Revenue by Month</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
